/*
 * Copyright 2014-2018 Toradex AG
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "imx6dl.dtsi"
#include "imx6qdl-colibri.dtsi"

/ {
	model = "Toradex Colibri iMX6DL/S on Colibri Evaluation Board V3";
	compatible = "toradex,colibri_imx6dl-eval", "toradex,colibri_imx6dl", "fsl,imx6dl";

	aliases {
		i2c0 = &i2cddc;
		i2c1 = &i2c2;
		i2c2 = &i2c3;
		i2c3 = &i2c4;
	};

	aliases {
		rtc0 = &rtc_i2c;
		rtc1 = &snvs_rtc;
	};

	aliases {
		/* the following, together with kernel patches, forces a fixed assignment
		   between device id and usdhc controller */
		/* i.e. the eMMC on usdhc3 will be /dev/mmcblk0 */
		mmc0 = &usdhc3; /* eMMC */
		mmc1 = &usdhc1; /* MMC 4bit slot */
	};

	extcon_usbc_det: usbc_det {
		compatible = "linux,extcon-usb-gpio";
		debounce = <25>;
		id-gpio = <&gpio7 12 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_usbc_det_1>;
		status = "disabled"; /* disabled since the id pin is being used as gpio */
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_leds_hensys>;

		led-green {
			label = "green:usr1";
			gpios = <&gpio3 17 GPIO_ACTIVE_HIGH>;
		};

		led-yellow {
			label = "yellow:usr2";
			gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
		};

		led-red {
			label = "red:usr3";
			gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		};
	};

	regulators {
		reg_usb_host_vbus: usb_host_vbus {
			status = "okay";
		};
	};
};

&backlight {
#if 0 /* PWM polarity: if 1 is brightest */
	pwms = <&pwm2 0 5000000 0>;
#if 0 /* Fusion 7 needs 10kHz PWM frequency */
	pwms = <&pwm2 0 100000 0>;
#endif
#else /* PWM polarity: if 0 is brightest */
	pwms = <&pwm2 0 5000000 1>;
#endif
	brightness-levels = <0 4 8 16 32 64 128 255>;
	default-brightness-level = <6>;
	status = "okay";
};

/ {
	clocks {
		/* fixed crystal dedicated to mcp251x */
		clk16m: clk@1 {
			compatible = "fixed-clock";
			reg=<1>;
			#clock-cells = <0>;
			clock-frequency = <16000000>;
			clock-output-names = "clk16m";
		};
	};
};


/* added CAN interface nodes */
&can1 {
       status = "okay";
};
&can2 {
       status = "okay";
};

/* Colibri SPI */
&ecspi4 {
	status = "okay";

	spidev0: spidev@1 {
		compatible = "toradex,evalspi";
		reg = <0>;
		spi-max-frequency = <23000000>;
		status = "disabled";
	};
};

/*
 * I2C: I2C3_SDA/SCL on SODIMM 194/196 (e.g. RTC on carrier
 * board)
 */
&i2c3 {
	status = "okay";

/* the PCAPs use SODIMM 28/30, also used for PWM<B>, PWM<C>, aka pwm1, pwm4.
   so if you enable one of the PCAP controllers disable the pwms */
	/* Atmel maxtouch controller */
	atmel_mxt_ts: atmel_mxt_ts@4a {
		compatible = "atmel,maxtouch";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_mxt_ts>;
		reg = <0x4a>;
		interrupt-parent = <&gpio2>;
		interrupts = <23 IRQ_TYPE_EDGE_FALLING>; /* SODIMM 105 */
		reset-gpios = <&gpio2 11 GPIO_ACTIVE_HIGH>; /* SODIMM 100 */
		status = "okay";
	};

	rtc_i2c: rtc@51 { 
        compatible = "nxp,pcf85263"; 
        reg = <0x51>; 
        interrupt-parent = <&gpio2>; 
        interrupts = <24 IRQ_TYPE_LEVEL_LOW>; 
        interrupt-names = "INTB";
        //quartz-load-capacitance = <PCF85263_QUARTZCAP_12p5pF>; 
        //quartz-drive-strength = <PCF85263_QUARTZDRIVE_LOW>; 
	}; 
};

/* added i2c4 node */
&i2c4 {
	status = "okay";
};

&iomuxc {
	/*
	 * Mux all pins which are unused to be GPIOs
	 * so they are ready for export to user space
	 */
	pinctrl-names = "default";
	pinctrl-0 = <
		&pinctrl_weim_gpio_1 &pinctrl_weim_gpio_2
		&pinctrl_weim_gpio_3 &pinctrl_weim_gpio_4
		// &pinctrl_weim_gpio_5 &pinctrl_weim_gpio_6 /* removed this node since it is being used by CAN interface */
		&pinctrl_weim_gpio_5
		&pinctrl_csi_gpio_1
		&pinctrl_gpio_1
		//&pinctrl_gpio_2 /* removed this node since it is being used by CAN interface */
		&pinctrl_usbh_oc_1 &pinctrl_usbc_id_1>;

	gpio_leds {
		pinctrl_leds_hensys: leds_hensys {
			fsl,pins = <
				MX6QDL_PAD_EIM_D17__GPIO3_IO17      PAD_CTRL_HYS_PU /* SODIMM 96 */
				MX6QDL_PAD_SD2_DAT3__GPIO1_IO12     PAD_CTRL_HYS_PU /* SODIMM 99 */
				MX6QDL_PAD_SD2_DAT0__GPIO1_IO15	    PAD_CTRL_HYS_PU /* SODIMM 98 */
			>;
		};
	};

	gpio {
		pinctrl_mxt_ts: mxt-ts {
			fsl,pins = <
				MX6QDL_PAD_EIM_CS0__GPIO2_IO23  PAD_CTRL_HYS_PU /* SODIMM 105 */
				MX6QDL_PAD_SD4_DAT3__GPIO2_IO11 PAD_CTRL_HYS_PU /* SODIMM 100 */
			>;
		};
	};
};

&lcd {
	status = "okay";
};

&mxcfb1 {
	status = "okay";
};

&mxcfb2 {
	status = "okay";
};

/* the PCAPs use SODIMM 28/30, also used for PWM<B>, PWM<C>, aka pwm1, pwm4.
   so if you enable one of the PCAP controllers disable the pwms */
&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&pwm3 {
	status = "okay";
};

&pwm4 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart3 {
	status = "okay";
	linux,rs485-enabled-at-boot-time;
	rs485-rts-active-low;
	rs485-rx-during-tx;
};

&usbh1 {
	status = "okay";
};

&usbotg {
	status = "okay";
	extcon = <&extcon_usbc_det>, <&extcon_usbc_det>;
};

/* MMC */
&usdhc1 {
	status = "okay";
};

&weim {
	status = "okay";
	fsl,weim-cs-gpr = <&gpr>;
	/* weim memory map: 32MB on CS0, 32MB on CS1, 32MB on CS2, 32MB on CS3 */
	ranges = <0 0 0x08000000 0x02000000
	          1 0 0x0a000000 0x02000000
	          2 0 0x0c000000 0x02000000
	          3 0 0x0e000000 0x02000000>;
	/* SRAM on CS0 */
	sram@0,0 {
		compatible = "cypress,cy7c1019dv33-10zsxi, mtd-ram";
		reg = <0 0 0x00010000>;
		#address-cells = <1>;
		#size-cells = <1>;
		bank-width = <2>;
		fsl,weim-cs-timing = <0x00010081 0x00000000 0x04000000
				0x00000000 0x04000040 0x00000000>;
	};
	/* SRAM on CS1 */
	sram@1,0 {
		compatible = "cypress,cy7c1019dv33-10zsxi, mtd-ram";
		reg = <1 0 0x00010000>;
		#address-cells = <1>;
		#size-cells = <1>;
		bank-width = <2>;
		fsl,weim-cs-timing = <0x00010081 0x00000000 0x04000000
				0x00000000 0x04000040 0x00000000>;
	};
};
